@model IEnumerable<TrackMyWork.Models.Client>

@{
    ViewData["Title"] = "My Clients";
}
@{
    // I want the view (table) to be sorted by firstname
    var SortedClients = Model.OrderBy(c => c.FirstName);
}
<div class="border-b-2 relative flex h-[25rem] w-full items-center justify-center border-solid bg-Primary bg-cover bg-no-repeat" style="background: rgb(252,158,255);
background: linear-gradient(200deg, rgba(252,158,255,1) 1%, rgba(213,213,213,1) 61%, rgba(144,230,255,1) 100%);">
    <p class="relative mb-6 text-center text-5xl font-bold uppercase tracking-widest text-Primary" style="-webkit-text-stroke:1px black;">
        @ViewData["Title"]
    </p>
</div>

<div class="relative min-h-[80vh] px-4 md:px-8">
    <!-- Button to add new client -->
    <div class="mt-6 flex justify-end">
        <a href="@Url.Action("Create")"
           class="cursor-pointer rounded-md bg-Secondary px-6 py-3 text-sm font-semibold text-ColorWhite shadow-md transition duration-300 hover:bg-Primary hover:text-ColorWhite">
            Add New Client
        </a>
    </div>

    <div class="flex flex-wrap justify-center gap-8">
        @foreach (var client in SortedClients)
        {
            <div class="bg-white flex w-[25rem] transform flex-col items-center justify-between rounded-lg p-6 shadow-lg transition-transform duration-75 ease-in hover:scale-105 hover:duration-150">
                <!-- Client Details -->
                <div class="w-full">
                    <h3 class="text-gray-800 text-xl font-semibold capitalize">@client.FirstName @client.LastName</h3>
                    <p class="text-gray-500 mt-2">@client.Email</p>
                </div>
                <!-- Action Buttons -->
                <div class="mt-6 flex w-full justify-between">
                    <a href="@Url.Action("Edit", new { id = client.ClientId })"
                       class="w-[45%] rounded-lg bg-[green] px-4 py-2 text-center text-sm font-medium text-ColorWhite shadow-md transition duration-300 hover:bg-green-600">
                        Edit
                    </a>
                    <form asp-action="Delete" asp-route-id="@client.ClientId" method="post" class="w-[45%]">
                        <button type="submit"
                                class="w-full rounded-lg bg-[red] px-4 py-2 text-center text-sm font-medium text-ColorWhite shadow-md transition duration-300 hover:bg-red-600">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
</div></div>
