@model IEnumerable<TrackMyWork.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

<div class="border-b-2 relative h-[25rem] w-full border-solid bg-Primary bg-cover bg-no-repeat" style="background: rgb(252,158,255);
background: linear-gradient(200deg, rgba(252,158,255,1) 1%, rgba(213,213,213,1) 61%, rgba(144,230,255,1) 100%);">
    <h1 class="translate-x-[-50%] translate-y-[-50%] absolute left-[50%] top-[50%] mb-6 text-center text-5xl font-bold uppercase tracking-widest text-Primary" style="-webkit-text-stroke:1px black;">
        @ViewData["Title"]
    </h1>
</div>

<div class="relative min-h-[80vh]">
    <button class="absolute right-[2rem] top-[3rem] rounded-md px-4 py-2 text-ColorBlack shadow-xl transition duration-300 hover:bg-Secondary hover\:text-ColorWhite">
        <a asp-action="Create">Add New Client</a>
    </button>

    <table class="mx-auto my-4 border-collapse shadow-lg">
        <thead>
            <tr>
                <th class="border-2 border-TextColorBlack p-4">First Name</th>
                <th class="border-2 border-ColorBlack p-4">Last Name</th>
                <th class="border-2 border-ColorBlack p-4">Email</th>
                <th class="border-2 border-ColorBlack p-4">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr cla>
                    <td class="border-2 p-4">     @Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td class="border-2 p-4"> @Html.DisplayFor(modelItem => item.LastName)</td>
                    <td class="border-2 p-4"> @Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="border-2 flex gap-x-[5px] p-4">
                     
                        <a class="border-2 rounded-[5px] border-ColorBlack bg-[green] p-2 text-sm uppercase text-ColorWhite shadow-sm hover:bg-ColorBlack hover:border-[green]" asp-action="Edit" asp-route-id="@item.ClientId">Edit</a>
                        <!-- using form so that I can delete directly click here not using another view.-->
                        <form asp-action="Delete" asp-route-id="@item.ClientId" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@item.ClientId" />
                            <button type="submit" class="border-2 rounded-[5px] border-ColorBlack bg-[red] p-2 text-sm uppercase text-ColorWhite shadow-sm hover:bg-ColorBlack hover:border-[red]">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
