@model IEnumerable<Message>

@{
    ViewData["Title"] = "Messages";
}



<p>
    <a asp-action="Create" asp-route-projectId="@ViewData["ProjectId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
              @Html.DisplayNameFor(model=> model.SenderMail)
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Description)
            </td>
            <td>
               @Html.DisplayFor(modelItem=>item.SenderMail)
            </td>
           
        </tr>
}
    </tbody>
</table>
