@model IEnumerable<TrackMyWork.Models.Project>

@{
    ViewData["Title"] = "My Projects";
}

<h2 class="text-3xl font-bold text-center mb-6">My Project</h2>

<div class="container mx-auto px-4 h-[80vh]">
    <div class="flex justify-end mb-4">
        <a asp-action="Create" class="text-ColorBlack px-4 py-2 rounded-md shadow hover:bg-Secondary transition hover\:text-ColorWhite duration-300">
            Add New Project
        </a>
    </div>


        <div class="container mx-auto p-4">
       

            @foreach (var project in Model)
          
        {
          
                <div class="bg-ColorWhite border-ColorBlack shadow-lg my-[1rem] rounded-lg p-4 mb-4">
                    <h2 class="text-xl uppercase font-semibold">@Html.DisplayFor(modelItem => project.Title)</h2>
                    <p class=" mb-2">@Html.DisplayFor(modelItem => project.Description)</p>
                    <p class="">Start Date: @Html.DisplayFor(modelItem => project.StartDate)</p>
                <p class="text-lg font-semibold capitalize">
                    @project.Client?.FirstName @project.Client?.LastName
                    </p>
                <p class="mt-2 font-bold">Urgency:
                    @if (project.Urgency == 1)
                    {
                        <span class="text-[red] ">High</span> 
                    }
                    else if (project.Urgency == 2)
                    {
                        <span class="text-[blue] ">Medium</span> 
                    }
                    else if (project.Urgency == 3)
                    {
                        <span class="text-[yellow] ">Low</span> 
                    }
               
                </p>
                    <div class="mt-4">
                    <a asp-action="Edit" asp-route-id="@project.ProjectId" class="bg-[green] border-2 border-ColorBlack text-ColorWhite p-2 text-sm hover:bg-ColorBlack hover:border-[green] rounded-[5px] uppercase shadow-sm">Edit</a>

                        <form asp-action="Delete" asp-route-id="@project.ProjectId" method="post" class="inline">
                            <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="bg-[red] border-2 border-ColorBlack text-ColorWhite p-2 text-sm hover:bg-ColorBlack hover:border-[red] rounded-[5px] uppercase shadow-sm">Delete</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    
</div>
